@import url("https://fonts.googleapis.com/css?family=Eczar");

nav { 
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #be7c4d;
  width: 100vw; 
  height: 5vh;
}

nav li{
  list-style-type: none;
  display: block;
  padding: 1vw;  
  font-size: 0.25em; 
}

nav li a:hover {
  background-color:#550d07;
  color:#f2dfce; 
}

.header {
  background-color: #550d07;
  width: 100vw;
  height: 75vh;
  display: flex; 
  flex-direction: column;
  justify-content:left;
  align-items: center;
}

.globe {
  padding: 1vw; 
  max-width:20%;
  height:auto;
}

/* Adding design to the sections */ 
.section_header {
  background-color: #be7c4d;
  width: 100vw;
  height: 30vh;
  text-align: center;
}

.sub_header_img { 
  padding: 1.75vw; 
  max-width:15%;
  height:auto;
}

/* Changing heading and paragraphs */
h1, h2 {
  font-weight: bold;
}

h1, h2, h3, p {
  font-family: 'Eczar', 'sans-serif';
  overflow-wrap: break-word;
}

h1 {
  color: #f2dfce;
  font-size: 0.75em; 
}

h2 {
  color: #3f220f;
  text-align: center;
  font-size: 0.5em; 
  padding: 1vw;
}

p {
  color: #353238;
  font-size: 0.25em; 
  padding: 3vw;
}

/* The body of the website: */ 
body {
  background-color: #f2dfce;
  margin: 0; 
  padding: 0; 
}

/* Rules for when the window's width exceeds 650 px: */
@media (min-width: 700px) {
  nav {
    flex-direction: row;
  }
  
  nav li{
    list-style-type: none;
    display:inline;
    padding: 0.5vw 2.5vw;  
    font-size: 1.25em; 
  }

  .header {
    height: 35vh; 
    flex-direction: row;
  }

  .section_header{
    height: 30vh;
  }

  .globe {
    padding: 5vw;
    max-width: 15%; 
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.75em; 
    padding: 2vw;
  }

  p {
    font-size: 1.25em; 
  }
}