@import url("https://fonts.googleapis.com/css?family=Eczar");

* {
  margin: 0; 
  padding: 0; 
  font-family: 'Eczar', 'sans-serif';
  overflow-wrap: break-word;
}

nav {
  background-color: #be7c4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25vw;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.25vw 3vw;
}

nav ul li a {
  color: #550d07;  
}

nav ul li a:hover {
  background-color:#550d07;
  color:#f2dfce; 
}

.header {
  background-color: #550d07;
  width: 100vw;
  height: 60vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.globe {
  padding: 0.5vw; 
  max-width:20%;
  height:auto;
}

/* Adding design to the sections */ 
.section_header {
  background-color: #be7c4d;
  width: 100vw;
  height: 40vh;
  display: flex; 
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.section_header img {
  padding: 1vw; 
  max-width:15%;
  height:auto;
}

.sub_page_img { 
  padding: 1.75vw; 
  max-width:10%;
  height:auto;
}

/* Changing heading and paragraphs */
h1, h2 {
  font-weight: bold;
}

h1 {
  color: #f2dfce;
  font-size: 0.75em; 
}

h2 {
  color: #3f220f;
  text-align: center;
  font-size: 0.5em; 
  padding: 1vw;
}

p, li { 
  font-size: 0.25em;
  color: #353238;
}

p {
  padding: 3vw;
}

/* The body of the website: */ 
body {
  background-color: #f2dfce;
  margin: 0; 
  padding: 0; 
}

/* Rules for when the window's width exceeds 900 px: */
@media (min-width: 900px) {
  nav {
    height: 10vh; 
  }
  nav ul li{
    padding: 0.5vw;  
    font-size: 2em; 
  }  
}

/* Rules for when the window's width exceeds 650 px: */
@media (min-width: 650px) {
  .header {
    height: 35vh; 
    flex-direction: row;
  }

  .globe {
    padding: 5vw;
    max-width: 15%; 
  }

  .sub_page_img {
    padding: 5vw;
    max-width: 10%; 
  }

  .section_header{
    height: 25vh;
  }

  .section_header img {
    padding: 5vw;
    max-width: 10%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.75em; 
    padding: 2vw;
  }

  p, li {
    font-size: 1.25em; 
  }
}